!!! 5
html(lang="en")
  head(id="mint-header")
    != SocketStream
    meta(charset="utf-8")
    meta(content='True',name='HandheldFriendly')
    meta(content='width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;', name='viewport')
    meta(name="viewport",content="width=device-width")
    link(rel='stylesheet', href='/stylesheets/style.css')
    title MINT 2012 - Platform
  body
    #pointerCanvas(onselectstart='return false;')
        #main
            form(onsubmit: 'return false')#signIn.views.hidden
                h3 Please enter a username to begin:
                input(id='prompt',type='text')
