
<div id="caroufredsel-{{= cio.name}}" style="position:fixed; z-index: {{= cio.layer}};left: {{= cio.x}}px; top: {{= cio.y}}px; width:{{= cio.width}}px; height:{{= cio.height}}px;;border:0px;">
<div id="c-carousel" style="min-height: {{= cio.height}}px;min-width: {{= cio.width}}px;">
    <div id="wrapper">
        <div id="{{= cio.name}}">
        </div>
        <div id="pager" style="width: 160px;overflow: hidden;position: absolute;z-index: 2;top: 40px;right: 0px;">

        </div>
    </div>
</div>
</div>

