
<div  id = 'markableradiobutton-{{= cio.name}}' class="draggable ui-widget-content displayed" style=' z-index: {{= cio.layer}};left: {{= cio.x}}px; top: {{= cio.y}}px; width:{{= cio.width}}px; height:{{= cio.height}}px;   text-align: center;position: absolute;'>
    <div style='margin-left: -{{= cio.width/2}}px;position: absolute;top: {{= cio.height/2-10}}px;left: 50%;width:{{= cio.width}}px;	height:{{= cio.height}}px;visibility: visible'>
   
    <input id="input-{{= cio.name}}" type="radio" class="big"  value=" {{= aio.label}}"  />
    {{= aio.text}}
  </div>
</div>


