// Example Stylus file
// All changes are detected and automatically compiled into CSS

@import 'helpers'

// Main

#main
    position fixed
    width 100%
    height 100%
    background url('/images/mint/MINT-Logo-trans.png') no-repeat fixed center

html, body
    width 100%
    height 100%
    padding 0
    margin 0
    background-color #333333;

canvas.touch
    position: absolute;
    pointer-events: none;

canvas.nose
    position: absolute;
    pointer-events: none;

div.ui-state-hover
    font-size: 20px;
    border: 3px solid coral;

div.tag
    background: white;

div.hidden
    display: none;

div.cic
    text-align: center;
    background-color: #FFFFFF;

div.marked
    background-color: gray;
    color: white;

div.displayed
    font-size: 20px;
    border:3px solid #000000;

input.big
    -webkit-transform: scale(2.5);
    font-size: 30px;


// login prompt

#signIn
  display none
  width 700px
  text-align left
  vertical-gradient #ddd, #eee
  border 1px solid #ccc
  margin 40px auto
  padding 15px
  round 10px
  h3
    margin 0
    font-size 1.0em
    font-weight normal
  #prompt
    border none
    box-shadow inset 0 0 2px #777
    round 5px
    width 690px
    padding 5px
    margin 0

// Minimal Output slider CIO

div.minimaloutputslider {
    background:#DFDFDF;
}
div.minimaloutputslider div {
    background:#F3B250;
}


